#!/usr/bin/env python

config = {

    # email that receives system notifications
    "email": "XXX@XXX.XXX",

    # Mailgun settings
    "mailgun_apikey": "key-XXX",
    "mailgun_domain": "XXX.XXX",

}
