# note: use "BreakBeforeBraces: Linux" for Clang before 3.8
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
BreakBeforeBraces: WebKit
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 0
IndentWidth: 4
ReflowComments: false
SortIncludes: false
#SpaceAfterTemplateKeyword: false # not supported on Clang 3.8 yet :c
