AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
# note: use "BreakBeforeBraces: Linux" on Clang before 3.8
BreakBeforeBraces: WebKit
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 0
IndentWidth: 4
ReflowComments: false
SortIncludes: false
# not yet available in Clang 3.8.1
#SpaceAfterTemplateKeyword: false
