Xcursor.theme: whiteglass

URxvt.depth: 32
URxvt.font: xft:inconsolata:size=13
URxvt.scrollBar: false
URxvt.perl-ext-common: vtwheel
URxvt.background: [70]#000000
URxvt.foreground:     #657b83
URxvt.cursorColor:    #93a1a1
URxvt.pointerColorBackground: #586e75
URxvt.pointerColorForeground: #93a1a1
URxvt.color0:  #899599
URxvt.color8:  #667686
URxvt.color1:  #dc322f
URxvt.color9:  #cb4b16
URxvt.color2:  #859900
URxvt.color10: #31ad00
URxvt.color3:  #b58900
URxvt.color11: #b36500
URxvt.color4:  #6c71c4
URxvt.color12: #268bd2
URxvt.color5:  #d33682
URxvt.color13: #ad43a2
URxvt.color6:  #2aa198
URxvt.color14: #307f9c
URxvt.color7:  #fdf6e3
URxvt.color15: #eee8d5
