Xcursor.theme:                whiteglass

URxvt.depth:                  32
URxvt.font:                   xft:Fira Mono:size=10
URxvt.scrollBar:              false
URxvt.perl-ext-common:        vtwheel
URxvt.background:             [90]#000000
URxvt.foreground:             [80]#ced6d6
URxvt.cursorColor:            [90]#586e75
URxvt.pointerColorBackground: [90]#586e75
URxvt.pointerColorForeground: [90]#93a1a1
URxvt.color0:                 [90]#202020
URxvt.color8:                 [90]#202020
URxvt.color1:                 [90]#dc322f
URxvt.color9:                 [90]#f04441
URxvt.color2:                 [90]#379e23
URxvt.color10:                [90]#41b52a
URxvt.color3:                 [90]#d1b32c
URxvt.color11:                [90]#f0cf41
URxvt.color4:                 [90]#166ba2
URxvt.color12:                [90]#268bd2
URxvt.color5:                 [90]#a32662
URxvt.color13:                [90]#d33682
URxvt.color6:                 [90]#0d9184
URxvt.color14:                [90]#0cb5a0
URxvt.color7:                 [90]#ced6d6
URxvt.color15:                [90]#eee8d5
