# note: if you change this, be sure to also update the example in
#       /usr/local/bin/conmon
[Unit]
Description=Restart service when connection fails

[Service]
ExecStart=/usr/local/bin/conmon %I
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
