[Unit]
After=network.target
OnFailure=notify@system:%n.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hsdepchk blas-hs directory sci-ratio
User=nobody
