[Unit]
After=network.target
OnFailure=notify@rogue:%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/.local/sbin/duplicity_backup -- --full-if-older-than=180D . @remote
