[Unit]
Description=SSH tunnel for SOCKS proxy
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/ssh -S none -i %h/.ssh/id_rsa -o BatchMode=yes -o ServerAliveInterval=20 -o ExitOnForwardFailure=yes -N -D PORT USER@HOST

[Install]
WantedBy=default.target
