[Unit]
Description=SSH tunnel for SOCKS proxy
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart={{HOME}}/.local/sbin/socks-tunnel %i

[Install]
WantedBy=default.target
